body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}


.product-heading {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;

}

.container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 40px 20px;
}


.product-details {
    text-align: left;
    margin-bottom: 40px;
}


.product-wrapper {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.product-card {
    width: 400px;
    border-spacing:auto;
}
.add-to-cart {
    background-color: black;
    color: white;
    border-radius: 5px;
}

.Watermark {
    background-image: url("mellow.jpg");
    background-size: cover;
    opacity: 0.4;
    position: relative;
    z-index:-1;
    /* Add any additional styling for your content */
    text-align: center;
    height: 900px;
}

.product-description{
    color: grey;
}